[submodule "hades_xpanes"]
	path = hades_xpanes
	url = https://github.com/sfence/hades_xpanes
[submodule "hades_glass_stained"]
	path = hades_glass_stained
	url = https://github.com/sfence/glass_stained
[submodule "hades_clothing"]
	path = hades_clothing
	url = https://github.com/sfence/clothing
[submodule "hades_default"]
	path = hades_default
	url = https://github.com/sfence/hades_default.git
[submodule "hades_bucket"]
	path = hades_bucket
	url = https://github.com/sfence/hades_bucket.git
[submodule "hades_digtron"]
	path = hades_digtron
	url = https://github.com/sfence/digtron.git
[submodule "hades_horse"]
	path = hades_horse
	url = https://github.com/sfence/mob_horse.git
[submodule "hades_animal"]
	path = hades_animal
	url = https://github.com/sfence/mobs_animal.git
[submodule "hades_extrafarming"]
	path = hades_extrafarming
	url = https://github.com/sfence/hades_extrafarming.git
[submodule "hades_craftguide2"]
	path = hades_craftguide2
	url = https://github.com/sfence/craftguide.git
[submodule "hades_moreblocks"]
	path = hades_moreblocks
	url = https://github.com/sfence/moreblocks
[submodule "hades_fachwerk"]
	path = hades_fachwerk
	url = https://github.com/sfence/fachwerk
	branch = sfence_hades_revisited
[submodule "hades_castle_masonry"]
	path = hades_castle_masonry
	url = https://github.com/sfence/castle_masonry.git
[submodule "hades_castle_gates"]
	path = hades_castle_gates
	url = https://github.com/sfence/castle_gates.git
[submodule "hades_castle_lighting"]
	path = hades_castle_lighting
	url = https://github.com/sfence/castle_lighting.git
[submodule "hades_rocks"]
	path = hades_rocks
	url = https://github.com/sfence/rocks.git
[submodule "hades_boost_cart"]
	path = hades_boost_cart
	url = https://github.com/sfence/boost_cart.git
[submodule "hades_extravessels"]
	path = hades_extravessels
	url = https://github.com/sfence/hades_extravessels.git
[submodule "hades_moretools"]
	path = hades_moretools
	url = https://github.com/sfence/moretools.git
